**/.vagrant
**/*.zip

.DS_Store
centos7
consul-outside-k8s-ubuntu
consul-single
consul1.6-5server
datadog_ubuntu
hashistack
nomad-client
nomad-federation
nomad-learn
nomad-server
oracle-xe
terraform-agent
vault
share_dir
